* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin-top: 60px;
  width: 100%;
}

a {
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: black;
  font-size: calc(1vw + 10px);
}

.link:hover {
  color: green;
}