
.navbar {
    background-color: rgb(106, 165, 106);
}

.navbar-dark .navbar-brand {
    color: green;
}

.logo {
    float: left;
    height: 20%;
    width: 20%;
    margin: 0;
    display: inline-block
}

.nav-logo {
    text-decoration: none;
}

.log {
    width: 20%;
}

#basic-navbar-nav {
    text-align: center;
}